.grid {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.grid div{
    height: 60px;
    width: 60px;
}

.forest{
    background-color: forestgreen;
}

.starting-row{
    background-color: saddlebrown;
}

.riverLeft, .riverRight{
    background-color: royalblue;
}

.river1, .river2, .river5, .river6, .river7{
    background-color: saddlebrown;
}

.river10, .river11, .river15, .river17{
    background-color: greenyellow;
}

.roadLeft, .roadRight{
    background-color: darkgrey;
}

.road11{
    background-color: blue;
}

.road1, .road2, .road15, .road16, .road18, .road19, .road27, .road28{
    background-color: red;
}

.road5, .road6, .road7{
    background-color: yellow;
}

.road21, .road22, .road23, .road24{
    background-color: black;
}

.row-1, .row-4, .row-8{
    background-color: lightgrey;
}

.frog{
    background-color: yellowgreen;
}