.grid {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.grid div{
    height: 60px;
    width: 60px;
}

.forest{
    background-color: forestgreen;
}

.starting-row{
    background-color: saddlebrown;
}

.riverLeft, .riverRight{
    background-color: royalblue;
}

.log{
    background-color: saddlebrown;
}

.turtle{
    background-color: greenyellow;
}

.roadLeft, .roadRight{
    background-color: darkgrey;
}

.row-1, .row-4, .row-8{
    background-color: lightgrey;
}

.motorcycle{
    background-color: blue;
}

.car{
    background-color: red;
}

.bus{
    background-color: yellow;
}

.semi {
    background-color: black;
}

.frog{
    background-color: green;
}